/* 
    Document   : style.css
    Created on : 01.02.2012, 17:34:29
    Author     : stev
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */



/* ----------- My Form ----------- */
table.imagetable {
	font-family: verdana,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('/img/cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('/img/cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}